python-dotenv
langchain
langchain-community
langchain-weaviate
langchain-text-splitters
weaviate-client
unstructured
unstructured[all-docs]
unstructured[docx,pptx]
tqdm
streamlit
mindsdb-sdk
# mindsdb[weaviate]
# pandoc